/*
Chris Carrico
11/10/22
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-image: url("../image/abstractPic.jpg");
    background-size: cover;
}

h1 {
    font-size: 2em;
    font-style: italic;
}

h3 {
    font-size: 1.5em;
    border-bottom: 1px, solid, black;
}

.font span {
    color: orange;
    font-family: 'Comic Sans MS', san-serif;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
}

.color span {

    color: red;
    font-weight: bold;
}

.more span {

    color: blue;
    text-decoration: underline;
     border: 1px, dashed, gray;
     background-color: #D69BBE;

}

.backgrounds span {

    color: green;
    font: Trebuchet MS, san-serif;
    font-size: 1.25em;
    
}

.peace {
     background: url('../image/peaceSign.png') no-repeat left top;
   
  padding-left: 15px;
  }
.list{
  padding: 0;
  margin: 0;
  list-style-type: none;
}
footer {
    font-size: .75em;
  	text-align: center;
 	margin top: 10px;
  	padding bottom: 10px;
}

nav {
    width: 175px;
    background-color: #E7DBF6;
    float: left;
  }


  article {
    margin-left: 175px;
    background-color: white;
    padding: 10px;
  }

  main#outerwrapper {
    width: 650px;
    background-color: #E7DBF6;
    margin-left: auto;
    margin-right: auto;
  }
